body{
    background-color: hotpink;
  }
  .beat{
      background-color: lightgreen;
      width:  100%;
      height: 150px;
      margin: 10px;
      border: 1px solid black;
  }
  .beat1{
      display: flex;
  }
  .box1{
      background-color: yellow;
      width: 20%;
      height: 150px;
      margin: 10px;
      border: 1px solid black;
  }
  .box2{
      background-color: red;
      width: 80%;
      height: 150px;
      margin: 10px;
      border: 1px solid black;
  }
  .beat2{
      display: flex;
  }
  .box3{
      background-color: yellow;
      width: 20%;
      height: 150px;
      margin: 10px;
      border: 1px solid black;
  }
  .box4{
      background-color: blue;
      width: 80%;
      height: 150px;
      margin: 10px;
      border: 1px solid black;
  }